.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 3rem 3rem 2rem 3rem;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
}

.menu__home {
    cursor: pointer;
}

.menu__perfil {
    display: none;
    cursor: pointer;
}

.menu__logo {
    display: none;
}

.usuario {
    display: none;
    align-items: center;
    justify-content: right;
    gap: 0.2rem;
}

.usuario__nome__texto {
    color: var(--cinza);
    text-decoration: none;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
}

.usuario__avatar__imagem {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {

    .cabecalho {
        padding: 4rem 3rem 1rem 3rem;
    }

    .menu__logo {
        display: flex;
        align-items: center;
        justify-content: left;
    }    

    .usuario {
        gap: 1rem;
    }
    
}



@media screen and (min-width: 1440px) {

    .cabecalho {
        padding: 3rem 7.5rem 0rem 7.5rem;
    }
}