.mensagem__container-principal {
    width: 100%;
    height: calc(100vh - 166px); 
    min-height: 730px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mensagem__container-central {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 2rem);
    padding: 3.5rem 1rem 0 1rem;
    z-index: 1;
}

.mensagem__container-central__logo {
    padding: 0 0 1rem 0;
}

.mensagem__container-central__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    max-width: 400px;
}

.mensagem__container-central__texto__paragrafo {
    text-align: center;
    padding: 0 3rem;
    color: var(--azul);
}

.mensagem__formulario {
    background-color: var(--cinza-claro);
    display: flex;
    flex-direction: column;
    width: calc(100% - 1.4rem);
    z-index: 1;
    padding: 2rem 0.7rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.mensagem__formulario__mensagem {
    resize: none;
    height: 100px;
}

.mensagem__container-central {
    max-width: 400px;
}

.mensagem__container-central__botoes {
    display: flex;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .mensagem__container-principal {
        height: calc(100vh - 220px); 
        min-height: 760px;  
    }

    .mensagem__container-central__texto {
        max-width: 100%;
    }

    .mensagem__container-central__texto__paragrafo {
        font-weight: 400;
    }

    .mensagem__container-central {
        padding: 6rem 0 0 0;
        max-width: 530px;
    }
       
}

@media screen and (min-width: 1440px) {

    .mensagem__container-principal {
        height: calc(100vh - 215px); 
        min-height: 660px;
        padding-top: 1.5rem;
    }

    .mensagem__container-central {
        padding: 0;
    }

}
