.swal-overlay {
    background-color: rgba(255, 255, 255, 0.7);
}

.swal-modal {
    background-color: var(--azul); 
    background-image: url(../img/forma1.png);
    background-position: center;
    border-radius: 8px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--cinza-claro);
}

.swal-title {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0); 
    font-family:  var(--fonte-principal);
    font-weight: 100;
    font-size: 16px;
    color: var(--cinza);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}

.swal-text {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0); 
    background-color: transparent;
    color: var(--branco);
    font-family:  var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    padding: 17px;
    border: none;
    border-radius: 8px;
    display: block;
    margin: 22px;
    text-align: center;
}

.swal-footer {
    background-color: var(--branco);
    margin-top: 32px0;
    overflow: hidden;
    text-align: center;
}

.swal-button {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0); 
    width: 150px;
    font-size: 16px;
    font-family:  var(--fonte-principal);
    font-weight: 100;
    padding: 1rem;
    border-radius: 0px;
    outline: none;
    border: none;
    background-color: var(--vermelho);
    color: var(--branco);
    cursor: pointer;
}

.swal-button:hover {
    background-color: var(--rosa);
}